<html>
<head>
  <%= javascript_include_tag 'application' %>

  <% if @response[:status] %>
    <% event = "#{@response[:data][:token].provider}_auth_passed" %>
  <% else %>
    <% event = "#{@response[:token].provider}_auth_failed" %>
  <% end %>
  <script type="text/javascript">
    setTimeout(function () {
        $(window.opener.document).find('body').trigger('<%= event %>');
        window.close();
    }, 2000);
  </script>
</head>
<body>
    This window will close in 2 secs
</body>

</html>