/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
$icon-font-path: "bootstrap-sass/dist/fonts/";
@import "bootstrap-sass/dist/css/bootstrap";
@import "bootstrap-sass/dist/css/bootstrap-theme";
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
// Move the below to helper classes later

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.pmA {
  padding: 9px !important;
}

.mlL {
  margin-left: 20px;
}

.mlR {
  margin-right: 20px;
}

.margin-auto {
  margin: auto !important;
}

ul.file-list {
  li {
    position: relative;
    list-style: none;
    float: left;
    margin: 20px;
    height: 100px;
    width: 60px;
    &:hover {
      color: #9af;
    }
    // Add icons according to fileTypes
    div.file-name {
      text-overflow: ellipsis;
      overflow: auto;
    }
    div.fa {
      &:before {
        font-size: 60px;
        color: #9aF;
      }
      span.provider-icon {
        &:before {
          position: absolute;
          height: 20px;
          width: 20px;
          right: 8px;
          bottom: 45px;
          // bottom: 0 !important;
          // right: 0 !important;
          font-size: 26px;
          color: #007ee5;

        }
      }
    }
  }
}