<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-close">
    <div class="btn-group pmA" dropdown is-open="status.isopen">
      <a href class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        <img alt="Brand" src="/assets/branding/u_32.png">
      </a>
      <ul class="dropdown-menu" role="menu">
        <li ng-show="isLoggedIn()"><a href="/files">Files</a></li>
        <li ng-show="isLoggedIn()"><a href="/profile">Account</a></li>
        <li ng-show="isLoggedIn()">
          <a href="/" ng-click="logout()">Logout</a>
        </li>
        <li class="divider"></li>
        <li ng-class="{active:isActive('/about')}">
          <a ng-href="/about">About UniDrive</a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li ng-hide="isLoggedIn()" ng-class="{active:isActive('/login')}">
        <a ng-href="/login">Login</a>
      </li>
      <li ng-hide="isLoggedIn()" ng-class="{active:isActive('/signup')}">
        <a ng-href="/signup">Signup</a>
      </li>
      <li ng-show="isLoggedIn()">
        <a href="/profile" >{{ user()['email'] }}</a>
      </li>
    </ul>
  </div>
</nav>